@use "./variables" as var;

@media screen and (max-width:768px) {
    body.scroll_non {
        overflow: hidden;
    }
}

header {
    display: flex;
    justify-content: center;
    z-index: 99999;
    width: 100%;
    position: fixed;

    .header_box {
        font-family: var.$main-font;
        display: flex;
        width: 1200px;
        height: 36px;
        align-items: center;
        justify-content: space-between;
        margin: 19px auto 0;
        color: var.$color-white;
        font-style: italic;

        @media screen and (max-width:768px) {
            padding: 0 15px;
            margin: 30px auto 0;
        }

        h1 {
            font-size: 26px;
            width: 198px;
            letter-spacing: 0.5px;
            @media screen and (max-width:768px) {
                // font-size: calc(26 / 375 * 100vw);
                font-size: 26px;
                // width: calc(198 / 375 * 100vw);
                width: 198px;
            }

            a {
                color: var.$color-white;
                text-decoration: none;
            }
        }

        nav ul {
            display: flex;
            width: 349px;
            justify-content: space-between;
            column-gap: 30px;

            li {

                font-size: 16px;
                list-style: none;

                a {
                    color: var.$color-white;
                    text-decoration: none;
                }
            }
        }

        //ハンバーガー
        .openbtn {
            display: none;
        }

        @media screen and (max-width:768px) {
            .openbtn {
                display: flex;
                position: relative;
                row-gap: 4px;
                // row-gap: calc(4 / 375 * 100vw);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                width: 40px;
                // width: calc(40 / 375 * 100vw);
                height: 40px;
                // height: calc(40 / 375 * 100vw);
                border-radius: 5px;
                border: 0;
                background-color: transparent;
                z-index: 9999;

            }

            .openbtn span {
                display: inline-block;
                transition: all .4s;
                // left: 14px;
                height: 2px;
                border-radius: 5px;
                background: var.$color-white;
                width: 25px;
            }


            .openbtn span:nth-of-type(1) {
                position: absolute;
                top: 11px;
            }

            .openbtn span:nth-of-type(2) {
                position: absolute;
                top: 19px;
            }

            .openbtn span:nth-of-type(3) {
                position: absolute;
                top: 27px;
            }

            //クリック後
            .openbtn.active span:nth-child(1) {
                margin-left: 10px;
                background-color: rgb(246 246 246);
                transform: rotate(45deg) translate(-2px, 13px);
            }

            .openbtn.active span:nth-child(2) {
                opacity: 0;
            }

            .openbtn.active span:nth-child(3) {
                margin-left: 10px;
                background-color: rgb(246 246 246);
                transform: rotate(-45deg) translate(-1px, -14px);
            }
        }


        @media screen and (max-width:768px) {
            .header_nav {
                height: 100vh;
                width: 100vw;
                flex-direction: column;
                position: fixed;
                top: 0;
                bottom: 0;
                display: flex;
                background: #282F35;
                left: -100%;
                transition: left .5s;
                z-index: 9999;

                .nav_ul {
                    display: flex;
                    height: 100vh;
                    justify-content: center;
                    list-style: none;
                    row-gap: 30px;
                    flex-direction: column;
                    width: auto;
                    margin: 20%;
                    padding: 0;
                    text-align: center;
                    li {
                        font-size: calc(16 / 375 * 100vw);
                    }
                }
            }

            .header_nav.active {
                left: 0;
            }
        }
    }

    //ヘッダー変化
    .change-color {
        background-color: #282F35;
        transition: .3s;
        height: 96px;
        font-family: var.$main-font;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        column-gap: 653px;
        margin-top: 0;
        color: var.$color-white;

        @media screen and (max-width:768px) {
            column-gap: normal;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width:768px) {
    header {
        // display: none;
    }
}