@use "./variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:wght@500&family=Zen+Maru+Gothic&display=swap');

// @media screen and (max-width:768px) {
// 	main {
// 		width: 768px;
// 	}
// }

//ファーストビュー
.fv_wrap {
	position: relative;

	.fv_box {
		.fv_img {
			width: 100%;
			height: 100vh;
			display: none;

			[class^="fv_bg_img"] {
				width: 100%;
				height: 100vh;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			.fv_bg_img1 {
				background-image: url(../../assets/common/images/fv-bgi_01@2x.jpg);
			}

			.fv_bg_img2 {
				background-image: url(../../assets/common/images/fv-bgi_02@2x.jpg);
			}

			.fv_bg_img3 {
				background-image: url(../../assets/common/images/fv-bgi_03@2x.jpg);
			}

			
		}
		.slick-initialized {
			display: block !important;
			/*slick-initializedが付与されたら表示*/
		}
	}

	.h2_wrap {
		position: relative;

		@media screen and (max-width:768px) {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.h2_box {
			position: absolute;
			content: "";
			left: 120px;
			bottom: 172px;
			z-index: 2;
			color: var.$color-white;

			@media screen and (max-width:768px) {
				position: static;
			}

			h2 {
				font-size: 70px;
				font-weight: bold;
				letter-spacing: 0.5px;
				font-family: var.$main-font;
				margin-bottom: 23px;

				@media screen and (max-width:768px) {
					font-size: 37px;
					width: 348px;
					text-align: center;
				}
			}

			p.h2_sub {
				font-size: 40px;
				font-weight: bold;
				letter-spacing: 0.5px;
				font-family: 'Noto Serif JP';
				text-align: center;

				@media screen and (max-width:768px) {
					font-size: 30px;
					width: 244px;
					letter-spacing: 0.5px;
					margin: 53px auto 0;
				}
			}
		}
	}
}





//CONCEPT
.concept {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 100px;

	@media screen and (max-width:768px) {
		width: 100%;
		max-width: 345px;
	}

	.concept_wrap {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;

		@media screen and (max-width:768px) {
			width: 100%;
		}

		.concept_box {
			max-width: 1000px;
			margin: 0 auto;

			h2 {
				font-size: 60px;
				font-family: var.$main-font;
				font-style: italic;
				position: relative;
				letter-spacing: 0.5px;

				&::after {
					position: absolute;
					content: "";
					top: 50%;
					left: 331px;
					width: 200px;
					display: block;
					height: 5px;
					background: black;

					@media screen and (max-width:768px) {
						width: 90px;
						left: 187px;
					}
				}

				@media screen and (max-width:768px) {
					font-size: 30px;
				}
			}

			h3 {
				max-width: 600px;
				margin: 70px auto 0;
				text-align: center;
				font-size: 30px;
				font-family: var.$mainjp-font;
				letter-spacing: 0.5px;
				line-height: 2;

				@media screen and (max-width:768px) {
					font-size: 20px;
					margin-top: 51px;

					br {
						display: none;
					}
				}
			}

			figure {
				display: flex;
				margin-top: 60px;
				justify-content: space-between;

				@media screen and (max-width:768px) {
					flex-direction: column;
					row-gap: 30px;
					margin-top: 31px;
				}

				figcaption {
					width: 440px;
					font-size: 16px;
					display: flex;
					align-items: center;
					font-family: var.$mainjp-font;
					letter-spacing: 0.5px;
					line-height: 2;

					@media screen and (max-width:768px) {
						width: 345px;
						height: 204px;
					}
				}
			}
		}
	}

	.concept_h4 {
		margin-top: 70px;
		text-align: right;
		font-size: 90px;
		font-weight: bold;
		font-family: var.$main-font;
		color: var.$sub-color;
		opacity: 0.05;

		@media screen and (max-width:768px) {
			font-size: 40px;
			margin-top: 40px;
		}
	}
}

//WORKS
.works {
	margin-top: 70px;
	width: 100%;
	height: 986px;
	background-image: url(../../assets/common/images/works-bgi@2x.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (max-width:768px) {
		height: auto;
	}

	.works_box {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 104px;

		@media screen and (max-width:768px) {
			width: 346px;
		}

		h2 {
			margin-right: 250px;
			text-align: right;
			font-size: 60px;
			font-family: var.$main-font;
			font-style: italic;
			position: relative;
			letter-spacing: 0.5px;
			color: var.$color-white;

			@media screen and (max-width:768px) {
				font-size: 30px;
				width: 346px;
				padding-right: 133px;
			}

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 1000px;
				width: 200px;
				display: block;
				height: 5px;
				background: var.$color-white;

				@media screen and (max-width:768px) {
					width: 100px;
					left: 246px;
				}
			}
		}

		.works_img_wrap {
			display: flex;
			margin: 80px auto 0;
			width: 1000px;
			column-gap: 20px;

			@media screen and (max-width:768px) {
				width: 0;
				flex-direction: column;
				align-items: center;
				row-gap: 30px;
			}

			figure {
				width: 320px;
				height: 334px;
				display: flex;
				flex-direction: column;
				background: var.$color-white;
				box-shadow: 0 0 6px #1B1310;

				img {
					width: 100%;
				}

				figcaption {
					width: 280px;
					height: 184px;
					font-family: var.$mainjp-font;
					display: flex;
					margin: 0 auto;
					align-items: center;
					font-size: 16px;
					line-height: 2;
				}
			}
		}
	}

	.works_link_box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 80px;

		a {
			padding: 19px 71px 18px;
			display: block;
			background: #F7D43F;
			border-radius: 30px;
			font-size: 16px;
			font-family: var.$main-font;
			font-weight: bold;
			color: var.$sub-color;
			text-decoration: none;
			box-shadow: 0 0 6px #1B1310;
		}
	}

	.works_h4 {
		margin-top: 70px;
		text-align: left;
		font-size: 90px;
		font-weight: bold;
		font-family: var.$main-font;
		color: var.$color-white;
		opacity: 0.1;

		@media screen and (max-width:768px) {
			font-size: 40px;
			padding: 40px 0;
			margin: auto;
		}
	}
}

//service
.service {
	width: 100%;
	padding-top: 100px;

	.service_h2 {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;

		@media screen and (max-width:768px) {
			width: 346px;
		}

		h2 {
			margin-right: 250px;
			text-align: left;
			font-size: 60px;
			font-family: var.$main-font;
			font-style: italic;
			position: relative;
			letter-spacing: 0.5px;

			@media screen and (max-width:768px) {
				font-size: 30px;
			}

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 285px;
				width: 200px;
				display: block;
				height: 5px;
				background: black;

				@media screen and (max-width:768px) {
					width: 100px;
					left: 158px;
				}
			}
		}
	}

	.service_box {
		display: flex;
		margin-top: 80px;

		@media screen and (max-width:768px) {
			flex-direction: column;
			align-items: center;
			row-gap: 30px;
		}

		.imgs {
			position: relative;
			width: 33.333333333%;
			height: calc(320 / 1440 * 100vw);

			@media screen and (max-width:768px) {
				width: 100%;
				height: 100%
			}

			a {
				&::after {
					background: #282F35;
					display: block;
					position: absolute;
					content: "";
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					opacity: 0;
					transition: 0.3s;
				}

				&:hover {

					&::after {
						opacity: 0.7;
					}

				}
			}

			.img_wrap {
				height: 100%;
				position: relative;

				img {
					width: 100%;
					height: 100%;
				}

				p {
					position: absolute;
					content: "";
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: var.$color-white;
					font-size: 40px;
					font-style: italic;
					font-family: var.$main-font;
					z-index: 5;

					@media screen and (max-width:768px) {
						font-size: 20px;
					}
				}

			}


		}

		.img2 {
			background-image: url(../../assets/common/images/service-img02@2x.jpg);
			width: 33.3333%;
			height: 320px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;

			p {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: var.$color-white;
				font-size: 40px;
				font-style: italic;
				font-family: var.$main-font;

				@media screen and (max-width:768px) {
					font-size: 20px;
				}
			}
		}

		.img3 {
			background-image: url(../../assets/common/images/sevice-img03@2x.jpg);
			width: 33.3333%;
			height: 320px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;

			p {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: var.$color-white;
				font-size: 40px;
				font-style: italic;
				font-family: var.$main-font;

				@media screen and (max-width:768px) {
					font-size: 20px;
				}
			}
		}
	}

	.service_h4_wrap {
		width: 1200px;
		max-width: 100%;
		margin: 70px auto 0;

		@media screen and (max-width:768px) {
			width: 346px;
			margin-top: 40px;
		}

		.service_h4 {
			text-align: right;
			font-size: 90px;
			font-weight: bold;
			font-family: var.$main-font;
			color: var.$sub-color;
			opacity: 0.05;

			@media screen and (max-width:768px) {
				font-size: 40px;
			}
		}
	}
}

//Contact
.conatact {
	margin-top: 70px;
	width: 100%;
	height: 666px;
	background-image: url(../../assets/common/images/contact-bgi@2x.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (max-width:768px) {
		height: auto;
	}

	.contact_box {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 104px;

		@media screen and (max-width:768px) {
			width: 346px;
		}

		h2 {
			margin-right: 250px;
			text-align: right;
			font-size: 60px;
			font-family: var.$main-font;
			font-style: italic;
			position: relative;
			letter-spacing: 0.5px;
			color: var.$color-white;

			@media screen and (max-width:768px) {
				font-size: 30px;
				width: 100%;
				text-align: right;
				padding-right: 130px;
			}

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 1000px;
				width: 200px;
				display: block;
				height: 5px;
				background: var.$color-white;

				@media screen and (max-width:768px) {
					left: 246px;
					width: 100px;
				}
			}
		}

		.contact_wrap {
			width: 100%;
			max-width: 1000px;
			margin: 80px auto 0;

			.contact_p {
				text-align: center;

				p {
					color: var.$color-white;
					font-size: 20px;
					font-family: var.$mainjp-font;
				}
			}

			.contact_link_box {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 40px;

				@media screen and (max-width:768px) {
					margin-top: 30px;
				}

				a {
					padding: 19px 84px 18px;
					display: block;
					background: #F7D43F;
					border-radius: 30px;
					font-size: 16px;
					font-family: var.$main-font;
					font-weight: bold;
					color: var.$sub-color;
					text-decoration: none;
					box-shadow: 0 0 6px #1B1310;
				}
			}
		}
	}



	.contact_h4 {
		margin-top: 70px;
		text-align: left;
		font-size: 90px;
		font-weight: bold;
		font-family: var.$main-font;
		color: var.$color-white;
		opacity: 0.1;

		@media screen and (max-width:768px) {
			font-size: 40px;
			padding: 40px 0;
			margin: auto;

		}
	}
}