//font-famiry
$main-font: "Noto Serif", serif;
$mainjp-font: "Noto Serif JP", serif;
$text-font: "Noto Serif";
$noto-font: 'Noto Sans Japanese';
$hira-w6-font: "ヒラギノ角ゴ ProN W6","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック",sans-serif;
$hira-w3-font: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック",sans-serif;

//color
$color-white: #FFFFFF;
$sub-color: #171717;
$header-background: #1B1310;